/**
 * ESTILOS PARA LAS FUENTES
 * */
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

/**
 * ESTILOS PARA LA VISIBILIDAD
 * */
.oculto { display: none }
 
@media (max-width: 767px) {
    .oculto-smartphone { display: none }
}
@media (min-width: 768px) {
    .oculto-escritorio { display: none }
}

/**
 * ESTILOS PARA LOS TEXTOS
 * 
 * Alineación */
.centrado { text-align: center }
.centrado-vertical { vertical-align: middle }
.a-la-izquierda { text-align: left }
.a-la-derecha { text-align: right }
.justificado { text-align: justify }
.mover-a-la-izquierda { float: left }
.mover-a-la-derecha { float: right }

/**
 * ESTILOS PARA LAS IMÁGENES
 * 
 * Imágenes - Establecemos el CSS para que
 * las imágenes tengan una altura relativa
 * a la anchura definida por el Grid (columnas).
 * */
.imagen-cuadrada {
    position: relative;
    width: 100%;
}

.imagen-cuadrada img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imagen-cuadrada:after {
    content: "";
    display: block;
}

/* Anchura igual a la altura */
.imagen-cuadrada:after {
    padding-bottom: 100%;
}

/* Anchura al doble de la altura */
.imagen-cuadrada.achura-doble:after {
    padding-bottom: calc(50% - 10px);
}

/* Ratio de 4:3 */
.imagen-cuadrada.ratio-4-3:after {
    padding-bottom: calc((100% * (3 / 4)) - 10px);
}

/* Ratio de 16:9 */
.imagen-cuadrada.ratio-16-9:after {
    padding-bottom: calc((100% * (9 / 16)) - 10px);
}

/* Ratio de 3:1 */
.imagen-cuadrada.ratio-3-1:after {
    padding-bottom: calc((100% * (1 / 3)) - 10px);
}

/* Altura al doble de la anchura */
.imagen-cuadrada.altura-doble img {
    height: calc(200% + 20px);
}

/* Altura al doble de la anchura */
.imagen-cuadrada.altura-doble img {
    height: calc(200% + 20px);
}

/**
 * BUSCADOR
 * */
.buscador {
    width: calc(100% - 40px);
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 6px 10px 6px 30px;
}
.buscador:before {
    content: url("../icons/buscar.svg");
}

/**
 * FORMULARIOS
 * */
 input[type=text],
 input[type=email],
 input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
}
label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}
input:valid:focus {
    border-color: #9137FF !important;
}
input:invalid:not(:placeholder-shown) {
    border-color: red !important;
}

/**
 * CHECKBOXES
 * */
.checkbox input[type=checkbox] {
    height: 20px;
    width: 20px;
}
.checkbox label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.checkbox input[type=checkbox],
.checkbox label {
    cursor: pointer;
}


/**
 * BOTONES
 * */
.boton {
    display: inline-block;
    width: 100%;
    padding: 8px;
    background: linear-gradient(135deg, #9137FF, #B476FF);
    color: white;
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
.boton div {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 5px 0;
    border-radius: 4px;
    transition: 0.3s;
}
.boton:hover div {
    background: rgba(255, 255, 255, 0.3);
}
.boton span {
    vertical-align: middle;
    margin-right: 20px;
    outline: none;
}
.boton .icono {
    position: absolute;
    right: 30px;
    outline: none;
    transition: 0.3s;
}
.bloque-texto .boton {
    margin-left: -15px;
}
.bloque-texto .boton .icono {
    right: 45px;
}
.boton:focus:active {
    margin: 2px -2px -2px 2px;
    box-shadow: none;
}
.boton:focus:active .icono  {
    right: 28px;
}
.bloque-texto .boton:focus:active .icono  {
    right: 43px;
}

/**
 * ICONOS
 * */
.icono {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

@keyframes cargando {
    to { transform: rotate(360deg) }
}
.cargando {
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: text-bottom;
    border: 4px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: cargando .75s linear infinite;
}


/**
 * TARJETAS
 * */
.tarjeta {
    padding: 15px 30px;
    transition: 0.3s;
}
@media (min-width: 768px) {
    .tarjeta .etiqueta { display: inline-block }
}
.tarjeta .etiqueta .icono {
    margin-bottom: 4px;
}
.tarjeta .detalle {
    display: inline-block;
}
@media (min-width: 768px) {
    .tarjeta .detalle { margin-left: 20px }
}
.tarjeta span {
    font-size: 12px;
}
.tarjeta img {
    margin-top: 10px;
}
.tarjeta .icono,
.tarjeta .icono-hover {
    transition: 0.3s;
}
.tarjeta .icono-hover {
    position: absolute;
    left: 40px;
    opacity: 0;
}
.tarjeta:hover .icono {
    opacity: 0;
}
.tarjeta:hover .icono-hover {
    opacity: 1;
}


/**
 * CHAT
 * */
@media (min-width: 768px) {
    .conversacion {
        position: fixed;
        right: 0;
        height: 100vh;
        width: 33.3%;
    }
}
.avatar {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 20px;
}
.chat {
    display: inline-block;
    padding: 13px 20px;
    width: calc(100% - 110px);
}
.fecha-chat {
    font-size: 12px;
    padding: 5px 30px;
    border-radius: 20px;
}
.nuevo-mensaje {
    font-family: "Poppins", sans-serif;
    width: calc(100% + 30px) !important;
    margin: 0 0 0 -20px !important;
    box-sizing: border-box !important;
    border: none !important;
    border-radius: 0 !important;
    background-image: url('../icons/enviar-blanco.svg') !important;
    background-size: 24px 24px !important;
    background-position: 20px 17px !important;
    background-repeat: no-repeat !important;
    padding: 20px 20px 20px 60px !important;
}
@media (min-width: 768px) {
    .nuevo-mensaje {
        position: fixed;
        bottom: 0;
    }
}


/**
 * TRANSICIONES
 * */
.transicion {
    position: fixed;
    z-index: 1000;
    display: none;
    width: calc(100% + 60px);
    height: 100vh;
    margin-left: -60px;
    background: rgb(255 255 255 / 0%);
    transition: 1s;
}


/**
 * NAVBAR
 * */
.navbar {
    position: relative;
    padding: 8px;
    margin: 8px -3px 20px -3px;
    background: linear-gradient(135deg, #9137FF, #B476FF);
    color: white;
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border-radius: 4px;
}
@media (min-width: 768px) {
   .navbar {
        margin: 8px -43px 20px -43px !important;
   }
}
.navbar .celda {
    margin: 0 5px;
    padding-top: 5px;
    border-radius: 4px;
}
.navbar .celda:not(.seleccionada) {
    cursor: pointer;
}
.navbar .celda {
    background: rgba(255, 255, 255, 0);
    transition: 0.3s;
}
.navbar .celda.seleccionada,
.navbar .celda:hover {
    background: rgba(255, 255, 255, 0.3);
}
.navbar .icono,
.navbar .texto {
    opacity: 0.7;
    transition: 0.3s;
}
.navbar .celda.seleccionada .icono,
.navbar .celda.seleccionada .texto,
.navbar .celda:hover .icono,
.navbar .celda:hover .texto {
    opacity: 1;
}
.navbar a.celda {
    display: inline-block;
    width: calc(100% - 30px);;
    text-decoration: none;
    color: white;
}


/**
 * COLORES
 * */
.purpura-6 { color: #4C1194 }
.purpura-5 { color: #681BC6 }
.purpura-4 { color: #9137FF }
.purpura-3 { color: #B476FF }
.purpura-2 { color: #D6B3FF }
.purpura-1 { color: #F0E3FF }
.blanco    { color: white }
.negro     { color: black }

.hover-purpura-6:hover { color: #4C1194 }
.hover-purpura-5:hover { color: #681BC6 }
.hover-purpura-4:hover { color: #9137FF }
.hover-purpura-3:hover { color: #B476FF }
.hover-purpura-2:hover { color: #D6B3FF }
.hover-purpura-1:hover { color: #F0E3FF }
.hover-blanco:hover    { color: white }
.hover-negro:hover     { color: black }

.bg-purpura-6 { background: #4C1194 }
.bg-purpura-5 { background: #681BC6 }
.bg-purpura-4 { background: #9137FF }
.bg-purpura-3 { background: #B476FF }
.bg-purpura-2 { background: #D6B3FF }
.bg-purpura-1 { background: #F0E3FF }
.bg-blanco    { background: white }
.bg-negro     { background: black }

.bg-hover-purpura-6:hover { background: #4C1194 }
.bg-hover-purpura-5:hover { background: #681BC6 }
.bg-hover-purpura-4:hover { background: #9137FF }
.bg-hover-purpura-3:hover { background: #B476FF }
.bg-hover-purpura-2:hover { background: #D6B3FF }
.bg-hover-purpura-1:hover { background: #F0E3FF }

.border-hover-purpura-6:hover { border-color: #4C1194 }
.border-hover-purpura-5:hover { border-color: #681BC6 }
.border-hover-purpura-4:hover { border-color: #9137FF }
.border-hover-purpura-3:hover { border-color: #B476FF }
.border-hover-purpura-2:hover { border-color: #D6B3FF }
.border-hover-purpura-1:hover { border-color: #F0E3FF }

.bg-purpura-4::placeholder,
.bg-purpura-5::placeholder,
.bg-purpura-6::placeholder {
    color: rgb(200, 200, 200)
}

/**
 * SOMBRAS
 * */
.sombra-centrada {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}