/**
 * ESTILOS PARA LAS FUENTES
 * */
body {
    font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

/**
 * ESTILOS PARA LA VISIBILIDAD
 * */
.oculto { display: none; }
 
@media (max-width: 767px) {
    .oculto-smartphone { display: none; }
}
@media (min-width: 768px) {
    .oculto-escritorio { display: none; }
}

/**
 * ESTILOS PARA LOS TEXTOS
 * 
 * Alineación */
.centrado { text-align: center; }
.centrado-vertical { vertical-align: middle; }
.a-la-izquierda { text-align: left; }
.a-la-derecha { text-align: right; }
.justificado { text-align: justify; }
.mover-a-la-izquierda { float: left; }
.mover-a-la-derecha { float: right; }

/**
 * ESTILOS PARA LAS IMÁGENES
 * 
 * Imágenes - Establecemos el CSS para que
 * las imágenes tengan una altura relativa
 * a la anchura definida por el Grid (columnas).
 * */
.imagen-cuadrada {
    position: relative;
    width: 100%;
}

.imagen-cuadrada img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imagen-cuadrada:after {
    content: "";
    display: block;
}

/* Anchura igual a la altura */
.imagen-cuadrada:after {
    padding-bottom: 100%;
}

/* Anchura al doble de la altura */
.imagen-cuadrada.achura-doble:after {
    padding-bottom: calc(50% - 10px);
}

/* Ratio de 4:3 */
.imagen-cuadrada.ratio-4-3:after {
    padding-bottom: calc((100% * (3 / 4)) - 10px);
}

/* Ratio de 16:9 */
.imagen-cuadrada.ratio-16-9:after {
    padding-bottom: calc((100% * (9 / 16)) - 10px);
}

/* Ratio de 3:1 */
.imagen-cuadrada.ratio-3-1:after {
    padding-bottom: calc((100% * (1 / 3)) - 10px);
}

/* Altura al doble de la anchura */
.imagen-cuadrada.altura-doble img {
    height: calc(200% + 20px);
}

/* Altura al doble de la anchura */
.imagen-cuadrada.altura-doble img {
    height: calc(200% + 20px);
}

/**
 * BUSCADOR
 * */
.buscador {
    width: calc(100% - 40px);
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 6px 10px 6px 30px;
}
.buscador:before {
    content: url("../icons/buscar.svg");
}

/**
 * FORMULARIOS
 * */
 input[type=text],
 input[type=email],
 input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

/**
 * CHECKBOXES
 * */
.checkbox input[type=checkbox] {
    height: 20px;
    width: 20px;
}
.checkbox label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.checkbox input[type=checkbox],
.checkbox label {
    cursor: pointer;
}


/**
 * BOTONES
 * */
.boton {
    display: inline-block;
    width: 100%;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.5s;
}


/**
 * ICONOS
 * */
.icono {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@keyframes cargando {
    to { transform: rotate(360deg); }
}
.cargando {
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: text-bottom;
    border: 4px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: cargando .75s linear infinite;
}


/**
 * CHAT
 * */
.avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: blue;
}
.chat {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;
    background: blue;
}


/**
 * COLORES
 * */
.purpura-6 { color: #4C1194 }
.purpura-5 { color: #681BC6 }
.purpura-4 { color: #9137FF }
.purpura-3 { color: #B476FF }
.purpura-2 { color: #D6B3FF }
.purpura-1 { color: #F0E3FF }

.blanco { color: white }
.negro  { color: black }

.bg-purpura-6 { background: #4C1194 }
.bg-purpura-5 { background: #681BC6 }
.bg-purpura-4 { background: #9137FF }
.bg-purpura-3 { background: #B476FF }
.bg-purpura-2 { background: #D6B3FF }
.bg-purpura-1 { background: #F0E3FF }

.bg-hover-purpura-6:hover { background: #4C1194 }
.bg-hover-purpura-5:hover { background: #681BC6 }
.bg-hover-purpura-4:hover { background: #9137FF }
.bg-hover-purpura-3:hover { background: #B476FF }
.bg-hover-purpura-2:hover { background: #D6B3FF }
.bg-hover-purpura-1:hover { background: #F0E3FF }

.border-hover-purpura-6:hover { border-color: #4C1194 }
.border-hover-purpura-5:hover { border-color: #681BC6 }
.border-hover-purpura-4:hover { border-color: #9137FF }
.border-hover-purpura-3:hover { border-color: #B476FF }
.border-hover-purpura-2:hover { border-color: #D6B3FF }
.border-hover-purpura-1:hover { border-color: #F0E3FF }

.bg-blanco { background: white }
.bg-negro  { background: black }


/**
 * SOMBRAS
 * */
.sombra-centrada {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}


.bg-yellow { background: yellow }
.bg-orange { background: orange }
.bg-red { background: red }
.bg-blue { background: blue }
.bg-lightblue { background: lightblue }
.bg-green { background: green }
.bg-white { background: white }
.bg-gray { background: lightgray }
.bg-black { background: black }