<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Asistente de adopción</title>
</head>
<body>
    <!-- 1º Paso - Formulario -->
    <div id="formulario" class="contenedor bg-gray">
        <br>

        <!-- Cabecera -->
        <div class="fila">
            <div id="cabecera-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12">
                <div class="fila">
                    <!-- Botón de retroceso -->
                    <div class="columna-smartphone-3">
                        <img src="../assets/icons/atras.svg" />
                    </div>
                    <!-- Nombre del animal -->
                    <div class="columna-smartphone-6">
                        <h4 class="sin-margen centrado">Chispitas</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Formulario -->
        <div class="fila">
            <div id="formulario-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12 bg-white">
                <div class="fila">
                    <div class="columna-escritorio-6 columna-escritorio-offset-3 columna-smartphone-12">
                        <div class="celda">
                            <!-- Título -->
                            <h2 class="centrado">Solucitud de adopción</h2>

                            <!-- Inputs a rellenar -->
                            <input class="input-texto" type="text" placeholder="Nombre" />
                            <input class="input-texto" type="text" placeholder="Apellidos" />
                            <input class="input-texto" type="email" placeholder="Email" />
                            <input class="input-texto" type="tel" placeholder="Teléfono" />

                            <br>
                            <br>

                            <!-- Aceptación de términos -->
                            <div class="centrado">
                                <input type="checkbox" />
                                <span>Acepto los términos legales</span>
                            </div>
                            
                            <br>

                            <!-- Foto del animal a adoptar -->
                            <div class="imagen-cuadrada ratio-16-9">
                                <img src="https://media.istockphoto.com/vectors/light-blue-simple-pastel-soft-color-for-background-blue-plain-color-vector-id1253590992?k=20&m=1253590992&s=170667a&w=0&h=_CIrRNXERoqSKjirxNe_GTOKstiO7kqNuEFr2k5vcrQ="/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Botón de adopción -->
        <div class="fila">
            <div id="boton-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12">
                <div class="celda centrado">
                    <input type="button" value="Iniciar adopción" />
                </div>
            </div>
        </div>

        <br>
    </div>

    <!-- 2º Paso - Seguimiento -->
    <div id="seguimiento">
        <div class="fila">
            <!-- Resumen y acciones -->
            <div id="resumen-seguimiento" class="columna-escritorio-9 columna-smartphone-12">
                <br>

                <div class="fila">
                    <div id="cabecera-seguimiento" class="columna-smartphone-12">
                        <div class="fila">
                            <!-- Botón de retroceso -->
                            <div class="columna-smartphone-3">
                                <img src="../assets/icons/atras.svg" />
                            </div>
                            <!-- Nombre del animal -->
                            <div class="columna-smartphone-6">
                                <h4 class="sin-margen centrado">Chispitas</h4>
                            </div>
                        </div>

                        <div class="fila">
                            <!-- Foto del animal a adoptar -->
                            <div class="columna-smartphone-12">
                                <div class="imagen-cuadrada ratio-16-9">
                                    <img src="https://media.istockphoto.com/vectors/light-blue-simple-pastel-soft-color-for-background-blue-plain-color-vector-id1253590992?k=20&m=1253590992&s=170667a&w=0&h=_CIrRNXERoqSKjirxNe_GTOKstiO7kqNuEFr2k5vcrQ="/>
                                </div>
                            </div>
                            
                            <!-- Resumen de la adopción -->
                            <div class="columna-smartphone-12">
                                <div class="fila">
                                    <!-- Título -->
                                    <div class="columna-smartphone-6">
                                        <h4 class="sin-margen-inferior">Estado de la adopción</h4>
                                        <span style="color: green">En curso</span>
                                    </div>
                                    
                                    <!-- Botón de anular proceso de adopción -->
                                    <div class="columna-smartphone-6 a-la-derecha">
                                        <br>
                                        <input type="button" value="Iniciar adopción" />
                                    </div>
                                    
                                    <!-- Descripción -->
                                    <div class="columna-smartphone-12">
                                        <p class="justificado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque.</p>
                                    </div>
                                </div>

                                <div class="fila">
                                    <!-- Teléfono -->
                                    <div class="columna-smartphone-3">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda">
                                                    <div class="fila bg-lightblue">
                                                        <div class="columna-smartphone-3 centrado">
                                                            <img src="../assets/icons/llamada.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Llamar</h4>
                                                            <span>Iniciar conversación</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Adjuntar documentos -->
                                    <div class="columna-smartphone-3">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda">
                                                    <div class="fila bg-gray">
                                                        <div class="columna-smartphone-3 centrado">
                                                            <img src="../assets/icons/documentos.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Documentación</h4>
                                                            <span>Adjuntar documento</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Seleccionar fecha -->
                                    <div class="columna-smartphone-3 bg-lightblue">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda">
                                                    <div class="fila bg-lightblue">
                                                        <div class="columna-smartphone-3 centrado">
                                                            <img src="../assets/icons/documentos.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Fecha</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Seleccionar ubicación -->
                                    <div class="columna-smartphone-3">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda">
                                                    <div class="fila bg-gray">
                                                        <div class="columna-smartphone-3 centrado">
                                                            <img src="../assets/icons/documentos.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Ubicación</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat -->
            <div id="chat-seguimiento" class="columna-escritorio-3 columna-smartphone-12">
                <div class="contenedor-derecho bg-lightblue">
                    <br>

                    <div class="fila">
                        <div class="columna-smartphone-12">
                            <div class="celda">
                                <!-- 1º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="avatar">
                                            <img src="../assets/icons/usuario.svg" />
                                        </div>
                                        <div class="chat">
                                            <span>Lorem ipsum dolor</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- 2º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="avatar">
                                            <img src="../assets/icons/usuario.svg" />
                                        </div>
                                        <div class="chat">
                                            <span>Lorem ipsum dolor</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Fecha -->
                                <div></div>
                                
                                <!-- 3º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="avatar">
                                            <img src="../assets/icons/usuario.svg" />
                                        </div>
                                        <div class="chat">
                                            <span>Lorem ipsum dolor</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Cuadro de texto -->
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>