<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Asistente de adopción</title>
</head>
<body>
    <!-- Pantalla de transición -->
    <div id="transicion" class="transicion"></div>

    <!-- 1º Paso - Formulario -->
    <div id="formulario" class="contenedor bg-purpura-1">
        <br>

        <!-- Cabecera -->
        <div class="fila">
            <div id="cabecera-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12">
                <div class="fila">
                    <!-- Botón de retroceso -->
                    <div class="columna-smartphone-3">
                        <a href="detalle.html">
                            <img class="icono" src="../assets/icons/atras-purpura.svg" />
                        </a>
                    </div>
                    <!-- Nombre del animal -->
                    <div class="columna-smartphone-6">
                        <h3 class="sin-margen centrado purpura-4">Chispitas</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Formulario -->
        <div class="fila">
            <div id="formulario-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12 bg-blanco sombra-centrada">
                <div class="fila">
                    <div class="columna-escritorio-6 columna-escritorio-offset-3 columna-smartphone-12">
                        <div class="celda">
                            <!-- Título -->
                            <h1 class="centrado">Solucitud de adopción</h1>

                            <!-- Nombre -->
                            <label for="nombre">Nombre</label>
                            <input class="border-hover-purpura-3" type="text" id="nombre" placeholder="Nombre"
                                required pattern="[A-Za-z]*" />
                           
                            <!-- Apellidos -->
                            <label for="apellidos">Apellidos</label>
                            <input class="border-hover-purpura-3" type="text" id="apellidos" placeholder="Apellidos"
                                required pattern="[A-Za-z]*" />
                            
                            <!-- Email -->
                            <label for="email">Email</label>
                            <input class="border-hover-purpura-3" type="email" id="email" placeholder="Email"
                                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            
                            <!-- Teléfono -->
                            <label for="telefono">Teléfono</label>
                            <input class="border-hover-purpura-3 sin-margen-inferior" type="tel" id="telefono" placeholder="Teléfono"
                                required pattern="[0-9]{9}" />
                            
                            <br>
                            <br>

                            <!-- Aceptación de términos -->
                            <div class="checkbox centrado">
                                <input id="terminos" class="centrado-vertical" type="checkbox" />
                                <label for="terminos" class="centrado-vertical">Acepto los términos legales</label>
                            </div>
                            
                            <br>

                            <!-- Foto del animal a adoptar -->
                            <div class="imagen-cuadrada ratio-3-1">
                                <img src="../assets/images/conejo.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Botón de adopción -->
        <div class="fila">
            <div id="boton-adopcion" class="columna-escritorio-4 columna-escritorio-offset-4 columna-smartphone-12">
                <div class="celda centrado">
                    <button class="boton blanco bg-purpura-4 bg-hover-purpura-5"
                            onclick="document.getElementById('transicion').style.display = 'block';
                                    document.getElementById('transicion').style.background = 'rgb(255 255 255 / 0%)';
                                    document.getElementById('transicion').style.background = 'rgb(255 255 255 / 100%)';
                                    setTimeout(function() {
                                        document.getElementById('formulario').style.display = 'none';
                                        document.getElementById('transicion').style.background = 'rgb(255 255 255 / 0%)';
                                        document.getElementById('seguimiento').style.display = 'block';
                                    }, 1000);
                                    setTimeout(function() {
                                        document.getElementById('transicion').style.display = 'none';
                                    }, 2000);">
                        Iniciar adopción
                    </button>
                </div>
            </div>
        </div>

        <br>
    </div>

    <!-- 2º Paso - Seguimiento -->
    <div id="seguimiento" class="oculto">
        <div class="fila sin-margen-inferior">
            <!-- Resumen y acciones -->
            <div id="resumen-seguimiento" class="columna-escritorio-8 columna-smartphone-12">
                <br>

                <div class="fila">
                    <div id="cabecera-seguimiento" class="columna-smartphone-12">
                        <div class="fila">
                            <!-- Botón de retroceso -->
                            <div class="columna-smartphone-3">
                                <a href="detalle.html">
                                    <img class="icono" src="../assets/icons/atras-purpura.svg" />
                                </a>
                            </div>
                            <!-- Nombre del animal -->
                            <div class="columna-smartphone-6">
                                <h3 class="sin-margen centrado purpura-4">Chispitas</h3>
                            </div>
                        </div>

                        <div class="fila">
                            <!-- Foto del animal a adoptar -->
                            <div class="columna-smartphone-12">
                                <div class="contenedor-smartphone">
                                    <div class="fila sin-margen-inferior">
                                        <div class="imagen-cuadrada ratio-16-9">
                                            <img src="../assets/images/conejo.jpg"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Resumen de la adopción -->
                            <div class="columna-smartphone-12">
                                <div class="fila">
                                    <!-- Título -->
                                    <div class="columna-escritorio-8 columna-smartphone-6">
                                        <h4 class="sin-margen-inferior">Estado de la adopción</h4>
                                        <span style="color: green">En curso</span>
                                    </div>
                                    
                                    <!-- Botón de anular proceso de adopción -->
                                    <div class="columna-escritorio-4 columna-smartphone-6 a-la-derecha">
                                        <br>
                                        <button class="boton blanco bg-purpura-4 bg-hover-purpura-5">Cancelar adopción</button>
                                    </div>
                                    
                                    <!-- Descripción -->
                                    <div class="columna-smartphone-12">
                                        <p class="justificado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque.</p>
                                    </div>
                                </div>

                                <div class="fila sin-margen-inferior">
                                    <!-- Teléfono -->
                                    <div class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-derecho-10 margen-inferior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="columna-smartphone-3">
                                                            <img class="icono" src="../assets/icons/llamada-purpura.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Llamar</h4>
                                                            <span>Iniciar conversación</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Adjuntar documentos -->
                                    <div class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-inferior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="columna-smartphone-3">
                                                            <img class="icono" src="../assets/icons/documentos-purpura.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Documentación</h4>
                                                            <span>Adjuntar documento</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fila sin-margen-inferior">
                                    <!-- Seleccionar fecha -->
                                    <div class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-derecho-10 margen-superior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="columna-smartphone-3">
                                                            <img class="icono" src="../assets/icons/fecha-purpura.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Fecha</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Seleccionar ubicación -->
                                    <div class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-superior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="columna-smartphone-3">
                                                            <img class="icono" src="../assets/icons/ubicacion-purpura.svg" />
                                                        </div>
                                                        <div class="columna-smartphone-9">
                                                            <h4 class="sin-margen">Ubicación</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat -->
            <div id="chat-seguimiento" class="columna-escritorio-4 columna-smartphone-12">
                <div class="contenedor-derecho contenedor-smartphone sin-margen-izquierdo conversacion bg-purpura-1">
                    <br>

                    <div class="fila contenedor-interno-derecho sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda">
                                <!-- 1º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <img class="avatar mover-a-la-izquierda" src="../assets/images/avatar-2.png" />
                                        
                                        <div class="chat mover-a-la-derecha bg-purpura-4 blanco">
                                            <span>Lorem ipsum dolor abc lorem ipsum dolor abc</span>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                
                                <!-- 2º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="chat mover-a-la-izquierda bg-blanco negro">
                                            <span>Lorem ipsum dolor</span>
                                        </div>

                                        <img class="avatar mover-a-la-derecha" src="../assets/images/avatar-1.png" />
                                    </div>
                                </div>

                                <br>
                                
                                <!-- Fecha -->
                                <div class="fila">
                                    <div class="columna-smartphone-12 centrado">
                                        <span class="fecha-chat bg-purpura-4 blanco">
                                            - 12 / 06 / 2022 -
                                        </span>
                                    </div>
                                </div>

                                <br>
                                
                                <!-- 3º Conversación -->
                                <div class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="chat mover-a-la-izquierda bg-blanco negro">
                                            <span>Lorem ipsum dolor</span>
                                        </div>

                                        <img class="avatar mover-a-la-derecha" src="../assets/images/avatar-1.png" />
                                    </div>
                                </div>
                                
                                <!-- Cuadro de texto -->
                                <input type="text" name="nuevo-mensaje" class="nuevo-mensaje blanco bg-purpura-4" placeholder="Introduzca un mensaje...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>