<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Asistente de adopción</title>
</head>
<body>
    <!-- Pantalla de transición -->
    <div id="transicion" class="transicion"></div>

    <!-- 1º Paso - Formulario -->
    <section id="formulario" class="contenedor bg-purpura-1">
        <br>

        <!-- Cabecera -->
        <header class="fila">
            <section id="cabecera-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12">
                <div class="fila">
                    <!-- Botón de retroceso -->
                    <nav class="columna-smartphone-3">
                        <a href="detalle.html">
                            <img class="icono" src="../assets/icons/atras-purpura.svg" />
                        </a>
                    </nav>
                    <!-- Nombre del animal -->
                    <article class="columna-smartphone-6">
                        <h3 class="sin-margen centrado purpura-4">Chispitas</h3>
                    </article>
                </div>
            </section>
        </header>
        
        <!-- Formulario -->
        <article class="fila">
            <section id="formulario-adopcion" class="columna-escritorio-8 columna-escritorio-offset-2 columna-smartphone-12 bg-blanco sombra-centrada">
                <div class="fila">
                    <div class="columna-escritorio-6 columna-escritorio-offset-3 columna-smartphone-12">
                        <div class="celda">
                            <!-- Título -->
                            <header>
                                <h1 class="centrado">Solucitud de adopción</h1>
                            </header>

                            <article>
                                <!-- Nombre -->
                                <label for="nombre">Nombre</label>
                                <input class="border-hover-purpura-3" type="text" id="nombre" placeholder="Nombre"
                                    required pattern="[A-Za-z]*" />
                            
                                <!-- Apellidos -->
                                <label for="apellidos">Apellidos</label>
                                <input class="border-hover-purpura-3" type="text" id="apellidos" placeholder="Apellidos"
                                    required pattern="[A-Za-z]*" />
                                
                                <!-- Email -->
                                <label for="email">Email</label>
                                <input class="border-hover-purpura-3" type="email" id="email" placeholder="Email"
                                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                
                                <!-- Teléfono -->
                                <label for="telefono">Teléfono</label>
                                <input class="border-hover-purpura-3 sin-margen-inferior" type="tel" id="telefono" placeholder="Teléfono"
                                    required pattern="[0-9]{9}" />
                            </article>
                            
                            <br>
                            <br>

                            <!-- Aceptación de términos -->
                            <article class="checkbox centrado">
                                <input id="terminos" class="centrado-vertical" type="checkbox" />
                                <label for="terminos" class="centrado-vertical">Acepto los términos legales</label>
                            </article>
                            
                            <br>

                            <!-- Foto del animal a adoptar -->
                            <footer class="imagen-cuadrada ratio-3-1">
                                <img src="../assets/images/conejo.jpg"/>
                            </footer>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        
        <!-- Botón de adopción -->
        <footer class="fila">
            <section id="boton-adopcion" class="columna-escritorio-4 columna-escritorio-offset-4 columna-smartphone-12">
                <article class="celda centrado">
                    <button class="boton"
                            onclick="document.getElementById('transicion').style.display = 'block';
                                    document.getElementById('transicion').style.background = 'rgb(255 255 255 / 0%)';
                                    document.getElementById('transicion').style.background = 'rgb(255 255 255 / 100%)';
                                    setTimeout(function() {
                                        document.getElementById('formulario').style.display = 'none';
                                        document.getElementById('transicion').style.background = 'rgb(255 255 255 / 0%)';
                                        document.getElementById('seguimiento').style.display = 'block';
                                    }, 1000);
                                    setTimeout(function() {
                                        document.getElementById('transicion').style.display = 'none';
                                    }, 2000);">
                        <div>
                            <span>Iniciar adopción</span>
                            <img class="icono" src="../assets/icons/aplicar-blanco.svg" />
                        </div>
                    </button>
                </article>
            </section>
        </footer>

        <br>
    </section>

    <!-- 2º Paso - Seguimiento -->
    <section id="seguimiento" class="oculto">
        <div class="fila sin-margen-inferior">
            <!-- Resumen y acciones -->
            <article id="resumen-seguimiento" class="columna-escritorio-8 columna-smartphone-12">
                <br>

                <section class="fila">
                    <article id="cabecera-seguimiento" class="columna-smartphone-12">
                        <header class="fila">
                            <!-- Botón de retroceso -->
                            <nav class="columna-smartphone-3">
                                <a href="detalle.html">
                                    <img class="icono" src="../assets/icons/atras-purpura.svg" />
                                </a>
                            </nav>
                            <!-- Nombre del animal -->
                            <header class="columna-smartphone-6">
                                <h3 class="sin-margen centrado purpura-4">Chispitas</h3>
                            </header>
                        </header>

                        <section class="fila">
                            <!-- Foto del animal a adoptar -->
                            <article class="columna-smartphone-12">
                                <div class="contenedor-smartphone">
                                    <div class="fila sin-margen-inferior">
                                        <div class="imagen-cuadrada ratio-16-9">
                                            <img src="../assets/images/conejo.jpg"/>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            
                            <!-- Resumen de la adopción -->
                            <article class="columna-smartphone-12">
                                <div class="fila">
                                    <!-- Título -->
                                    <header class="columna-smartphone-6">
                                        <h3 class="sin-margen-inferior" style="margin-top: 23px">Estado de la adopción</h3>
                                        <span style="color: green">En curso</span>
                                    </header>
                                    
                                    <!-- Botón de anular proceso de adopción -->
                                    <nav class="columna-smartphone-6">
                                        <br>

                                        <div class="celda centrado" style="padding: 0 15px">
                                            <a class="boton" href="detalle.html">
                                                <div>
                                                    <span>Cancelar adopción</span>
                                                    <img class="icono" src="../assets/icons/rechazar-blanco.svg" />
                                                </div>
                                            </a>
                                        </div>
                                    </nav>
                                    
                                    <!-- Descripción -->
                                    <article class="columna-smartphone-12">
                                        <p class="justificado">Tiene una mirada tierna y sincera que pide a gritos muestras de amistad y confianza. Se mueve despacio, con sigilo, como temiendo molestar, pero el interés consigue que se acerque y tremendamente cuidadoso, lame tu mano obteniendo su premio. Luego se aleja unos prudentes pasos para tumbarse confiado y agradecido cerca de quien acaba de catalogar como amigo. Es muy sociable con sus compañeros.</p>
                                    </article>
                                </div>

                                <section class="fila sin-margen-inferior">
                                    <!-- Teléfono -->
                                    <article class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-derecho-10 margen-inferior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="etiqueta">
                                                            <img class="icono" src="../assets/icons/llamada-purpura.svg" />
                                                            <img class="icono icono-hover" src="../assets/icons/llamada-blanco.svg" />
                                                        </div>
                                                        <div class="detalle">
                                                            <h4 class="sin-margen">Llamar</h4>
                                                            <span>Iniciar conversación</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <!-- Adjuntar documentos -->
                                    <article class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-inferior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="etiqueta">
                                                            <img class="icono" src="../assets/icons/documentos-purpura.svg" />
                                                            <img class="icono icono-hover" src="../assets/icons/documentos-blanco.svg" />
                                                        </div>
                                                        <div class="detalle">
                                                            <h4 class="sin-margen">Documentación</h4>
                                                            <span>Adjuntar documento</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </section>

                                <section class="fila sin-margen-inferior">
                                    <!-- Seleccionar fecha -->
                                    <article class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-derecho-10 margen-superior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="etiqueta">
                                                            <img class="icono" src="../assets/icons/fecha-purpura.svg" />
                                                            <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                                        </div>
                                                        <div class="detalle">
                                                            <h4 class="sin-margen">Fecha</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <!-- Seleccionar ubicación -->
                                    <article class="columna-smartphone-6">
                                        <div class="fila sin-margen-inferior">
                                            <div class="columna-smartphone-12">
                                                <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-superior-10">
                                                    <div class="fila sin-margen-inferior">
                                                        <div class="etiqueta">
                                                            <img class="icono" src="../assets/icons/ubicacion-purpura.svg" />
                                                            <img class="icono icono-hover" src="../assets/icons/ubicacion-blanco.svg" />
                                                        </div>
                                                        <div class="detalle">
                                                            <h4 class="sin-margen">Ubicación</h4>
                                                            <span>De recogida</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </section>
                            </article>
                        </section>
                    </article>
                </section>
            </article>

            <!-- Chat -->
            <aside id="chat-seguimiento" class="columna-escritorio-4 columna-smartphone-12">
                <section class="contenedor-derecho contenedor-smartphone sin-margen-izquierdo conversacion bg-purpura-1">
                    <br>

                    <div class="fila contenedor-interno-derecho sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda">
                                <!-- 1º Conversación -->
                                <article class="fila">
                                    <div class="columna-smartphone-12">
                                        <img class="avatar mover-a-la-izquierda" src="../assets/images/avatar-2.png" />
                                        
                                        <div class="chat mover-a-la-derecha bg-purpura-4 blanco">
                                            <span>¡Hola! Mi nombre es Manuel, quería saber si sería posible acercarme al centro y ver en persona a Chispitas</span>
                                        </div>
                                    </div>
                                </article>

                                <br>
                                
                                <!-- 2º Conversación -->
                                <article class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="chat mover-a-la-izquierda bg-blanco negro">
                                            <span>¡Hola Manuel! Claro, deja que revise cuando podemos concertar una cita</span>
                                        </div>

                                        <img class="avatar mover-a-la-derecha" src="../assets/images/avatar-1.png" />
                                    </div>
                                </article>

                                <br>
                                
                                <!-- Fecha -->
                                <article class="fila">
                                    <div class="columna-smartphone-12 centrado">
                                        <span class="fecha-chat bg-purpura-4 blanco">
                                            - 12 / 06 / 2022 -
                                        </span>
                                    </div>
                                </article>

                                <br>
                                
                                <!-- 3º Conversación -->
                                <article class="fila">
                                    <div class="columna-smartphone-12">
                                        <div class="chat mover-a-la-izquierda bg-blanco negro">
                                            <span>Hola de nuevo Manuel, si te parece bien podemos verlo el jueves que viene a las 10</span>
                                        </div>

                                        <img class="avatar mover-a-la-derecha" src="../assets/images/avatar-1.png" />
                                    </div>
                                </article>
                                
                                <!-- Cuadro de texto -->
                                <input type="text" name="nuevo-mensaje" class="nuevo-mensaje blanco bg-purpura-4" placeholder="Introduzca un mensaje...">
                            </div>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </section>
</body>
</html>