<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <!-- Script para compatibilizar el navegador con Google Maps -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript">
        // Método que invoca Google Maps
        function initMap() {
            // Coordenadas (Latitud y Longitud) de Alcobendas
            const alcobendas = { lat: 40.5475, lng: -3.64209 };

            // Pintamos el mapa
            const marker = new google.maps.Marker({
                position: alcobendas,
                map: new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    center: alcobendas,
                })
            });
        }

        window.initMap = initMap;
    </script>
    <title>Detalle</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="contenedor navbar">
        <section class="fila sin-margen-inferior">
            <!-- Home -->
            <article class="columna-smartphone-3 centrado">
                <a class="celda" href="home.html">
                    <img class="icono" src="../assets/icons/menu-blanco.svg" />
                    <div class="texto">Home</div>
                </a>
            </article>
            
            <!-- Animales -->
            <article class="columna-smartphone-3 centrado">
                <a class="celda" href="listado.html">
                    <img class="icono" src="../assets/icons/categoria-blanco.svg" />
                    <div class="texto">Animales</div>
                </a>
            </article>
            
            <!-- Centros -->
            <article class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/ubicacion-blanco.svg" />
                    <div class="texto">Centros</div>
                </div>
            </article>
            
            <!-- Unirse -->
            <article class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/usuario-blanco.svg" />
                    <div class="texto">Unirse</div>
                </div>
            </article>
        </section>
    </nav>

    <section class="fila sin-margen-inferior">
        <!-- Listado con scroll -->
        <div id="detalle-animal" class="columna-escritorio-8 columna-smartphone-12">
            <!-- Imagen principal -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <div class="imagen-cuadrada ratio-16-9">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Listado de imágenes -->
            <article class="fila">
                <!-- 1º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 3º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 4º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Cuerpo con el texto -->
            <article class="fila sin-margen-inferior margen-horizontal-10 bg-purpura-5 blanco">
                <!-- Texto principal -->
                <div class="columna-smartphone-12">
                    <div class="bloque-texto">
                        <h1 class="centrado sin-margen-superior">Conoce a Chispitas</h1>
                        <p class="justificado sin-margen-inferior">Tiene una mirada tierna y sincera que pide a gritos muestras de amistad y confianza. Se mueve despacio, con sigilo, como temiendo molestar, pero el interés consigue que se acerque y tremendamente cuidadoso, lame tu mano obteniendo su premio. Luego se aleja unos prudentes pasos para tumbarse confiado y agradecido cerca de quien acaba de catalogar como amigo. Es muy sociable con sus compañeros.</p>
                    </div>
                </div>
            </article>

            <article class="fila margen-horizontal-10 bg-purpura-5 blanco">
                <!-- Texto inferior -->
                <div class="columna-escritorio-6 columna-smartphone-12">
                    <div class="bloque-texto sin-margen-interno-superior">
                        <h4 class="sin-margen-superior sin-margen-inferior">¿Te gusta Chispitas?</h4>
                        <p class="sin-margen-superior sin-margen-inferior">Ayúdanos a buscarle hogar</p>
                    </div>
                </div>

                <!-- Botón de adopción -->
                <div class="columna-escritorio-6 columna-smartphone-12">
                    <div class="bloque-texto sin-margen-interno-superior" style="padding-left: 45px">
                        <a class="boton" href="asistente.html">
                            <div>
                                <span>Solicitar adopción</span>
                                <img class="icono" src="../assets/images/icono-adopcion.png" />
                            </div>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        
        <!-- Bloques detallados -->
        <div id="lista-informativa" class="columna-escritorio-4 columna-smartphone-12">
            <!-- Tipo y raza -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/categoria-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/categoria-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Raza</h4>
                                        <span>Conejo Toy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- Nº de visitas -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/precio-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/precio-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Nº de visitas</h4>
                                        <span>12.847</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- Fecha de nacimiento -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/fecha-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Nacimiento</h4>
                                        <span>3 / 11 / 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- Hora de llegada al centro -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/hora-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/hora-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Llegada</h4>
                                        <span>16 / 07 / 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- Centro actual -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/ubicacion-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/ubicacion-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Centro</h4>
                                        <span>Alcobendas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- Anterior propietario -->
            <article class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/usuario-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/usuario-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Propietario</h4>
                                        <span>Desconocido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <br>
    <br>

    <!-- Footer -->
    <footer id="footer" class="contenedor bg-purpura-1">
        <!-- Conctacto -->
        <div id="contacto">
            <section class="fila">
                <!-- Título -->
                <article class="columna-smartphone-12">
                    <div class="celda">
                        <div class="bloque-texto centrado">
                            <h1 class="sin-margen-superior">Refugio de animales</h1>
                            <img height="150px" width="150px" src="../assets/images/logo.svg" />
                        </div>
                    </div>
                </article>
            </section>
            
            <section class="fila sin-margen-inferior">
                <div class="columna-escritorio-4 columna-smartphone-12">
                    <!-- Bloque 1 -->
                    <article class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/llamada.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/llamada-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Teléfono</h4>
                                                <span>+34 921 384 561</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Bloque 2 -->
                    <article class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/fecha.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Horario</h4>
                                                <span>L-V 9:00 a 20:00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                        
                    <!-- Bloque 3 -->
                    <article class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-blanco bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/email.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/email-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Email</h4>
                                                <span>refugio@animales.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                
                    <br>
                </div>

                <article class="columna-escritorio-8 columna-smartphone-12">
                    <div class="celda">
                        <div id="map" style="height: 265px; width: 100%;"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly" defer></script>
                    </div>

                    <br>
                </article>
            </section>
        </div>
    </footer>
</body>
</html>