<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Detalle</title>
</head>
<body>
    <!-- Navbar -->
    <div class="contenedor navbar">
        <div class="fila sin-margen-inferior">
            <!-- Home -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/menu-blanco.svg" />
                    <div class="texto">Home</div>
                </div>
            </div>
            
            <!-- Animales -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda seleccionada">
                    <img class="icono" src="../assets/icons/categoria-blanco.svg" />
                    <div class="texto">Animales</div>
                </div>
            </div>
            
            <!-- Centros -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/ubicacion-blanco.svg" />
                    <div class="texto">Centros</div>
                </div>
            </div>
            
            <!-- Unirse -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/usuario-blanco.svg" />
                    <div class="texto">Unirse</div>
                </div>
            </div>
        </div>
    </div>

    <div class="fila sin-margen-inferior">
        <!-- Listado con scroll -->
        <div id="detalle-animal" class="columna-escritorio-8 columna-smartphone-12">
            <!-- Imagen principal -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <div class="imagen-cuadrada ratio-16-9">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listado de imágenes -->
            <div class="fila">
                <!-- 1º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 3º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 4º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cuerpo con el texto -->
            <div class="fila sin-margen-inferior margen-horizontal-10 bg-gray">
                <!-- Texto principal -->
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <h1 class="centrado sin-margen-superior">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                        <p class="justificado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque.</p>
                    </div>
                </div>
            </div>

            <div class="fila margen-horizontal-10 bg-gray">
                <!-- Texto inferior -->
                <div class="columna-smartphone-6">
                    <div class="celda">
                        <h3 class="sin-margen-superior">Adipisicing elit</h3>
                        <p class="sin-margen-superior">Sint provident tempora fugit</p>
                    </div>
                </div>

                <!-- Botón de adopción -->
                <div class="columna-smartphone-6">
                    <div class="celda">
                        <div class="bg-black mover-a-la-derecha" style="width: 50px; height: 50px"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Información -->
        <div id="lista-informativa" class="columna-escritorio-4 columna-smartphone-12">
            <!-- Bloques detallados -->
            <div class="fila">
                <div class="columna-smartphone-6">
                    <div class="celda">
                        <div class="bg-lightblue">
                            <h3 class="sin-margen-superior">Adipisicing elit</h3>
                            <p class="sin-margen-superior">Sint provident tempora fugit</p>
                        </div>
                    </div>
                </div>
                
                <div class="columna-smartphone-6">
                    <div class="celda">
                        <div class="bg-lightblue">
                            <h3 class="sin-margen-superior">Adipisicing elit</h3>
                            <p class="sin-margen-superior">Sint provident tempora fugit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>