<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Detalle</title>
</head>
<body>
    <!-- Navbar -->
    <div class="contenedor navbar">
        <div class="fila sin-margen-inferior">
            <!-- Home -->
            <div class="columna-smartphone-3 centrado">
                <a class="celda" href="home.html">
                    <img class="icono" src="../assets/icons/menu-blanco.svg" />
                    <div class="texto">Home</div>
                </a>
            </div>
            
            <!-- Animales -->
            <div class="columna-smartphone-3 centrado">
                <a class="celda" href="listado.html">
                    <img class="icono" src="../assets/icons/categoria-blanco.svg" />
                    <div class="texto">Animales</div>
                </a>
            </div>
            
            <!-- Centros -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/ubicacion-blanco.svg" />
                    <div class="texto">Centros</div>
                </div>
            </div>
            
            <!-- Unirse -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/usuario-blanco.svg" />
                    <div class="texto">Unirse</div>
                </div>
            </div>
        </div>
    </div>

    <div class="fila sin-margen-inferior">
        <!-- Listado con scroll -->
        <div id="detalle-animal" class="columna-escritorio-8 columna-smartphone-12">
            <!-- Imagen principal -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <div class="imagen-cuadrada ratio-16-9">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listado de imágenes -->
            <div class="fila">
                <!-- 1º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 3º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 4º Imagen -->
                <div class="columna-smartphone-3">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cuerpo con el texto -->
            <div class="fila sin-margen-inferior margen-horizontal-10 bg-purpura-5 blanco">
                <!-- Texto principal -->
                <div class="columna-smartphone-12">
                    <div class="bloque-texto">
                        <h1 class="centrado sin-margen-superior">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                        <p class="justificado sin-margen-inferior">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque.</p>
                    </div>
                </div>
            </div>

            <div class="fila margen-horizontal-10 bg-purpura-5 blanco">
                <!-- Texto inferior -->
                <div class="columna-escritorio-6 columna-smartphone-12">
                    <div class="bloque-texto sin-margen-interno-superior">
                        <h4 class="sin-margen-superior sin-margen-inferior">Adipisicing elit</h4>
                        <p class="sin-margen-superior sin-margen-inferior">Sint provident tempora fugit</p>
                    </div>
                </div>

                <!-- Botón de adopción -->
                <div class="columna-escritorio-6 columna-smartphone-12">
                    <div class="bloque-texto sin-margen-interno-superior" style="padding-left: 45px">
                        <a class="boton" href="asistente.html">
                            <div>
                                <span>Solicitar adopción</span>
                                <img class="icono" src="../assets/images/icono-adopcion.png" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bloques detallados -->
        <div id="lista-informativa" class="columna-escritorio-4 columna-smartphone-12">
            <!-- Tipo y raza -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/categoria-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/categoria-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Raza</h4>
                                        <span>Conejo Toy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Nº de visitas -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/precio-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/precio-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Nº de visitas</h4>
                                        <span>12.847</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Fecha de nacimiento -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/fecha-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Nacimiento</h4>
                                        <span>3 / 11 / 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Hora de llegada al centro -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/hora-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/hora-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Llegada</h4>
                                        <span>16 / 07 / 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Centro actual -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/ubicacion-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/ubicacion-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Centro</h4>
                                        <span>Alcobendas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Anterior propietario -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="celda tarjeta bg-purpura-1 bg-hover-purpura-4 hover-blanco margen-izquierdo-10 margen-derecho-10">
                                <div class="fila sin-margen-inferior">
                                    <div class="etiqueta">
                                        <img class="icono" src="../assets/icons/usuario-purpura.svg" />
                                        <img class="icono icono-hover" src="../assets/icons/usuario-blanco.svg" />
                                    </div>
                                    <div class="detalle">
                                        <h4 class="sin-margen">Propietario</h4>
                                        <span>Desconocido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>