<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <!-- Script para compatibilizar el navegador con Google Maps -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript">
        // Initialize and add the map
        function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.031 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
        }

        window.initMap = initMap;
    </script>
    <title>Inicio</title>
</head>
<body>
    <!-- Navbar -->
    <div class="contenedor navbar">
        <div class="fila sin-margen-inferior">
            <!-- Home -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda seleccionada">
                    <img class="icono" src="../assets/icons/menu-blanco.svg" />
                    <div class="texto">Home</div>
                </div>
            </div>
            
            <!-- Animales -->
            <div class="columna-smartphone-3 centrado">
                <a class="celda" href="listado.html">
                    <img class="icono" src="../assets/icons/categoria-blanco.svg" />
                    <div class="texto">Animales</div>
                </a>
            </div>
            
            <!-- Centros -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/ubicacion-blanco.svg" />
                    <div class="texto">Centros</div>
                </div>
            </div>
            
            <!-- Unirse -->
            <div class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/usuario-blanco.svg" />
                    <div class="texto">Unirse</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Acceso al listado de animales -->
    <div id="listado" class="fila">
        <!-- Imagen 1 (Oculta en dispositivos móviles) -->
        <div class="columna-escritorio-6 oculto-smartphone">
            <div class="celda">
                <a href="listado.html">
                    <div class="imagen-cuadrada ratio-16-9">
                        <img src="../assets/images/animales-1.png"/>
                    </div>
                </a>
            </div>
        </div>
        
        <!-- Imagen 2 -->
        <div class="columna-escritorio-6 columna-smartphone-12">
            <div class="celda">
                <a href="listado.html">
                    <div class="imagen-cuadrada ratio-16-9">
                        <img src="../assets/images/animales-2.png"/>
                    </div>
                </a>
            </div>
        </div>

        <!-- Texto -->
        <div class="columna-smartphone-12 centrado">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
        </div>
    </div>

    <br>
    <br>

    <!-- Últimas adopciones -->
    <div id="ultimas-adopciones" class="contenedor bg-purpura-1">
        <br>
        <div class="fila">
            <!-- Imagen 1 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="celda">
                    <a href="detalle.html">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/perro.png"/>
                        </div>
                    </a>
                </div>

                <br>
            </div>

            <!-- Imagen 2 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="celda">
                    <a href="detalle.html">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/gato.jpg"/>
                        </div>
                    </a>
                </div>
            
                <br>
            </div>

            <!-- Imagen 3 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="celda">
                    <a href="detalle.html">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Imagen 4 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="celda">
                    <a href="detalle.html">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/cerdito.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="fila">
            <!-- Texto -->
            <div class="columna-smartphone-12 centrado">
                <h1 class="sin-margen-superior">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- Últimas noticias de la organización -->
    <div id="ultimas-noticias" class="fila">
        <!-- Noticia izquierda -->
        <div class="columna-escritorio-4 columna-smartphone-12">
            <div class="celda">
                <div class="imagen-cuadrada ratio-16-9">
                    <img src="../assets/images/vacuna-1.jpg"/>
                </div>
            </div>
            <div class="celda">
                <div class="bloque-texto justificado bg-purpura-3 blanco">
                    <h1>Lorem ipsum</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel.</p>
                </div>
            </div>
        </div>
        
        <!-- Noticia derecha (Oculto en dispositivos móviles) -->
        <div class="columna-escritorio-8 oculto-smartphone">
            <!-- Texto -->
            <div class="celda">
                <div class="bloque-texto justificado bg-purpura-5 blanco">
                    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- Footer -->
    <div id="footer" class="contenedor bg-purpura-1">
        <!-- Conctacto -->
        <div id="contacto">
            <div class="fila">
                <!-- Título -->
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <div class="bloque-texto centrado">
                            <h1 class="sin-margen-inferior">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="fila sin-margen-inferior">
                <div class="columna-escritorio-4 columna-smartphone-12">
                    <!-- Bloque 1 -->
                    <div class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/llamada.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/llamada-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Raza</h4>
                                                <span>Conejo Toy</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bloque 2 -->
                    <div class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/fecha.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Raza</h4>
                                                <span>Conejo Toy</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <!-- Bloque 3 -->
                    <div class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-blanco bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/ubicacion.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/ubicacion-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Raza</h4>
                                                <span>Conejo Toy</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columna-escritorio-8 columna-smartphone-12">
                    <div class="celda">
                        <div id="map" style="height: 265px; width: 100%;"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly" defer></script>
                    </div>
                </div>
            </div>

            <br>
        </div>
    </div>
</body>
</html>