<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Inicio</title>
    <style type="text/css">
        .bg-yellow { background: yellow; }
        .bg-orange { background: orange; }
        .bg-red { background: red; }
        .bg-blue { background: blue; }
        .bg-lightblue { background: lightblue; }
        .bg-green { background: green; }
        .bg-gray { background: lightgray; }
        .bg-black { background: black; }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="contenedor bg-gray">
        <div class="fila">
            <div class="columna-smartphone-12">
                <div class="bg-yellow">
                    <p>NAVBAR</p>
                </div>
            </div>
            <div class="columna-smartphone-12">
                <div class="bg-orange">
                    <p>BUSCADOR</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- Acceso al listado de animales -->
    <div id="listado" class="fila">
        <!-- Imagen 1 -->
        <div class="columna-escritorio-6 columna-smartphone-12">
            <div class="bg-blue" style="min-height: 200px"></div>
        </div>
        
        <!-- Imagen 2 (Oculta en dispositivos móviles) -->
        <div class="columna-escritorio-6 oculto-smartphone">
            <div class="bg-green" style="min-height: 200px"></div>
        </div>

        <!-- Texto -->
        <div class="columna-smartphone-12 centrado">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- Últimas adopciones -->
    <div id="ultimas-adopciones" class="contenedor bg-gray">
        <div class="fila">
            <!-- Imagen 1 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="bg-red" style="min-height: 200px"></div>
            </div>

            <!-- Imagen 2 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="bg-black" style="min-height: 200px"></div>
            </div>

            <!-- Imagen 3 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="bg-yellow" style="min-height: 200px"></div>
            </div>

            <!-- Imagen 4 -->
            <div class="columna-escritorio-3 columna-smartphone-6">
                <div class="bg-red" style="min-height: 200px"></div>
            </div>
        </div>

        <div class="fila">
            <!-- Texto -->
            <div class="columna-smartphone-12 centrado">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- Últimas noticias de la organización -->
    <div id="ultimas-noticias" class="fila">
        <!-- Noticia izquierda -->
        <div class="columna-escritorio-3 columna-smartphone-12 bg-lightblue">
            <div class="fila centrado">
                <div class="columna-smartphone-12">
                    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>
                </div>
            </div>
        </div>
        
        <!-- Noticia derecha (Oculto en dispositivos móviles) -->
        <div class="columna-escritorio-9 oculto-smartphone bg-blue">
            <!-- Texto -->
            <div class="fila">
                <div class="columna-escritorio-6 columna-escritorio-offset-2 columna-smartphone-10 columna-escritorio-offset-1">
                    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit, repellat iste atque labore minus cupiditate corporis perspiciatis vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam ab voluptatibus voluptate incidunt, illo quis vitae est aut, sint provident tempora fugit aperiam architecto perferendis et vel ullam doloremque?</p>        
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- Conctacto -->
    <div id="contacto">
        <div class="fila">
            <!-- Título -->
            <div class="columna-smartphone-12 centrado">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
            </div>
        </div>
        
        <div class="fila">
            <div class="columna-escritorio-4 columna-smartphone-12">
                <!-- Bloque 1 -->
                <div class="bg-yellow" style="min-height: 50px"></div>
                <br>

                <!-- Bloque 2 -->
                <div class="bg-orange" style="min-height: 50px"></div>
                <br>
                
                <!-- Bloque 3 -->
                <div class="bg-yellow" style="min-height: 50px"></div>
                <br>
                
                <!-- Bloque 4 -->
                <div class="bg-orange" style="min-height: 50px"></div>
            </div>
            <div class="columna-escritorio-8 columna-smartphone-12">
                <div class="bg-lightblue" style="min-height: 254px"></div>
            </div>
        </div>
    </div>
</body>
</html>