<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <title>Listado de animales</title>
</head>
<body>
    <!-- Navbar -->
    <div class="contenedor bg-gray">
        <div class="fila">
            <div class="columna-smartphone-12">
                <div class="celda">
                    <p class="sin-margen-inferior bg-yellow">NAVBAR</p>
                </div>
            </div>
            <div class="columna-smartphone-12">
                <div class="celda">
                    <p class="sin-margen-superior bg-orange">BUSCADOR</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="fila">
        <!-- Listado con scroll -->
        <div id="listado-animales" class="columna-escritorio-8 columna-smartphone-12">
            <!-- 1º Fila de imágenes -->
            <div class="fila">
                <!-- 1º Imagen (rectangular) -->
                <div class="columna-smartphone-8">
                    <div class="celda">
                        <div class="imagen-cuadrada achura-doble">
                            <img src="../assets/images/cerdito.png"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen (cuadrada) -->
                <div class="columna-smartphone-4">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2º Fila de imágenes -->
            <div class="fila">
                <!-- 1º Imagen (cuadrada) -->
                <div class="columna-smartphone-4">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/perro.png"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen (rectangular) -->
                <div class="columna-smartphone-4">
                    <div class="celda">
                        <div class="imagen-cuadrada altura-doble">
                            <img src="../assets/images/gato.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 3º Imagen (cuadrada) -->
                <div class="columna-smartphone-4">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/gato.jpg"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3º Fila de imágenes -->
            <div class="fila">
                <!-- 1º Imagen (cuadrada) -->
                <div class="columna-smartphone-4">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/conejo.jpg"/>
                        </div>
                    </div>
                </div>
                <!-- 2º Imagen (cuadrada) -->
                <div class="columna-smartphone-4 columna-smartphone-offset-4">
                    <div class="celda">
                        <div class="imagen-cuadrada">
                            <img src="../assets/images/perro.png"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Icono de carga -->
            <div class="fila">
                <div class="columna-smartphone-12">
                    <div class="celda centrado">
                        <span class="cargando"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Menú de opciones -->
        <div id="menu-opciones" class="columna-escritorio-4 columna-smartphone-12">
            <div class="fila">
                <!-- Texto -->
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <h1 class="justificado sin-margen-superior">Lorem ipsum, dolor sit amet consectetur</h1>
                        <p class="justificado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus libero maiores quo possimus consequuntur aperiam quod similique molestiae ad facere odit.</p>
                    </div>
                 </div>

                <!-- Buscador -->
                <div class="columna-smartphone-12">
                    <div class="celda">
                        <input class="buscador" type="text" placeholder="Introduzca un término de búsqueda..." />
                    </div>
                </div>
            </div>
            
            <!-- Opciones de búsqueda -->
            <div class="fila">
                <div class="celda">
                    <!-- Categoria -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/categoria.svg" />
                    </div>
                    <!-- Ubicación -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/ubicacion.svg" />
                    </div>
                    <!-- Foto -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/imagen.svg" />
                    </div>
                    <!-- Precio -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/precio.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>