<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    <!-- Script para compatibilizar el navegador con Google Maps -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript">
        // Método que invoca Google Maps
        function initMap() {
            // Coordenadas (Latitud y Longitud) de Alcobendas
            const alcobendas = { lat: 40.5475, lng: -3.64209 };

            // Pintamos el mapa
            const marker = new google.maps.Marker({
                position: alcobendas,
                map: new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    center: alcobendas,
                })
            });
        }

        window.initMap = initMap;
    </script>
    <title>Listado de animales</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="contenedor navbar">
        <section class="fila sin-margen-inferior">
            <!-- Home -->
            <article class="columna-smartphone-3 centrado">
                <a class="celda" href="home.html">
                    <img class="icono" src="../assets/icons/menu-blanco.svg" />
                    <div class="texto">Home</div>
                </a>
            </article>
            
            <!-- Animales -->
            <article class="columna-smartphone-3 centrado">
                <div class="celda seleccionada">
                    <img class="icono" src="../assets/icons/categoria-blanco.svg" />
                    <div class="texto">Animales</div>
                </div>
            </article>
            
            <!-- Centros -->
            <article class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/ubicacion-blanco.svg" />
                    <div class="texto">Centros</div>
                </div>
            </article>
            
            <!-- Unirse -->
            <article class="columna-smartphone-3 centrado">
                <div class="celda">
                    <img class="icono" src="../assets/icons/usuario-blanco.svg" />
                    <div class="texto">Unirse</div>
                </div>
            </article>
        </section>
    </nav>

    <section class="fila">
        <!-- Menú de opciones -->
        <aside id="menu-opciones" class="columna-escritorio-4 columna-smartphone-12">
            <article class="fila">
                <!-- Texto -->
                <header class="columna-smartphone-12">
                    <div class="celda">
                        <h1 class="justificado sin-margen-superior">Conoce a algunos de nuestros animales</h1>
                        <p class="justificado">Te ayudamos a encontrar a la mejor mascota para tí y tu familia, por ello te mostramos aquí algunos de forma aleatoria, sin distinción.</p>
                    </div>
                 </header>

                <!-- Buscador -->
                <article class="columna-smartphone-12">
                    <div class="celda">
                        <input class="buscador" type="text" placeholder="Introduzca un término de búsqueda..." />
                    </div>
                </article>
            </article>
            
            <!-- Opciones de búsqueda -->
            <nav class="fila">
                <div class="celda">
                    <!-- Categoria -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/categoria.svg" />
                    </div>
                    <!-- Ubicación -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/ubicacion.svg" />
                    </div>
                    <!-- Foto -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/imagen.svg" />
                    </div>
                    <!-- Precio -->
                    <div class="columna-smartphone-3 centrado">
                        <img src="../assets/icons/precio.svg" />
                    </div>
                </div>
            </nav>
        </aside>

        <!-- Listado con scroll -->
        <article id="listado-animales" class="columna-escritorio-8 columna-smartphone-12">
            <!-- 1º Fila de imágenes -->
            <section class="fila">
                <!-- 1º Imagen (rectangular) -->
                <article class="columna-smartphone-8">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada achura-doble">
                                <img src="../assets/images/cerdito.png"/>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 2º Imagen (cuadrada) -->
                <article class="columna-smartphone-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada">
                                <img src="../assets/images/conejo.jpg"/>
                            </div>
                        </a>
                    </div>
                </article>
            </section>

            <!-- 2º Fila de imágenes -->
            <section class="fila">
                <!-- 1º Imagen (cuadrada) -->
                <article class="columna-smartphone-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada">
                                <img src="../assets/images/perro.png"/>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 2º Imagen (rectangular) -->
                <article class="columna-smartphone-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada altura-doble">
                                <img src="../assets/images/gato.jpg"/>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 3º Imagen (cuadrada) -->
                <article class="columna-smartphone-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada">
                                <img src="../assets/images/gato.jpg"/>
                            </div>
                        </a>
                    </div>
                </article>
            </section>

            <!-- 3º Fila de imágenes -->
            <section class="fila">
                <!-- 1º Imagen (cuadrada) -->
                <article class="columna-smartphone-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada">
                                <img src="../assets/images/conejo.jpg"/>
                            </div>
                        </a>
                    </div>
                </article>
                <!-- 2º Imagen (cuadrada) -->
                <article class="columna-smartphone-4 columna-smartphone-offset-4">
                    <div class="celda">
                        <a href="detalle.html">
                            <div class="imagen-cuadrada">
                                <img src="../assets/images/perro.png"/>
                            </div>
                        </a>
                    </div>
                </article>
            </section>

            <!-- Icono de carga -->
            <div class="fila sin-margen-inferior">
                <div class="columna-smartphone-12">
                    <div class="celda centrado">
                        <span class="cargando"></span>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!-- Footer -->
    <footer id="footer" class="contenedor bg-purpura-1">
        <!-- Conctacto -->
        <div id="contacto">
            <section class="fila">
                <!-- Título -->
                <article class="columna-smartphone-12">
                    <div class="celda">
                        <div class="bloque-texto centrado">
                            <h1 class="sin-margen-superior">Refugio de animales</h1>
                            <img height="150px" width="150px" src="../assets/images/logo.svg" />
                        </div>
                    </div>
                </article>
            </section>
            
            <section class="fila sin-margen-inferior">
                <div class="columna-escritorio-4 columna-smartphone-12">
                    <!-- Bloque 1 -->
                    <article class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/llamada.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/llamada-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Teléfono</h4>
                                                <span>+34 921 384 561</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- Bloque 2 -->
                    <article class="fila">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-gris-claro bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/fecha.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/fecha-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Horario</h4>
                                                <span>L-V 9:00 a 20:00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                        
                    <!-- Bloque 3 -->
                    <article class="fila sin-margen-inferior">
                        <div class="columna-smartphone-12">
                            <div class="fila sin-margen-inferior">
                                <div class="columna-smartphone-12">
                                    <div class="celda tarjeta bg-blanco bg-hover-gris-oscuro hover-blanco margen-izquierdo-10 margen-derecho-10">
                                        <div class="fila sin-margen-inferior">
                                            <div class="etiqueta">
                                                <img class="icono" src="../assets/icons/email.svg" />
                                                <img class="icono icono-hover" src="../assets/icons/email-blanco.svg" />
                                            </div>
                                            <div class="detalle">
                                                <h4 class="sin-margen">Email</h4>
                                                <span>refugio@animales.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                
                    <br>
                </div>

                <article class="columna-escritorio-8 columna-smartphone-12">
                    <div class="celda">
                        <div id="map" style="height: 265px; width: 100%;"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly" defer></script>
                    </div>

                    <br>
                </article>
            </section>
        </div>
    </footer>
</body>
</html>